<div class="top-page">
</div>
<div class="container">
  <div class="recipes">
  <% if @search_recipes %>
    <%= render partial: 'recipes/recipe', collection: @search_recipes %>
  <% else %>
    <%= render partial: 'recipes/recipe', collection: @recipes %>
  <% end %>
  </div>
</div>