<div class="container">
  <div class="recipes">
    <% @favorite_recipes.each do |recipe| %>
      <%= link_to(recipe_path(recipe)) do %>
        <div class="recipe">
          <%= image_tag recipe.image.url, size: '250x250' %>
          <%= recipe.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>