// Place all the styles related to the recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-page{
  background-image: url("top_cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  margin: 0 10%;
}