<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="footer-title">spice curry mania</h5>
        <p>
        本格的なスパイスカレーを作るのが好きな人や、これからスパイスカレーを作ってみたい人のためのスパイスカレー専用のレシピ投稿サイト。
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <ul>
          <li><%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLScjVgvrFCBfNE4esHqLOzk1h_r-mUUGeOkfoN5CzvBH6YKVNQ/viewform?usp=sf_link', class: "link" %></li>
          <li><%= link_to '利用規約', page_path('terms'), class: "link" %></li>
          <li><%= link_to 'プライバシーポリシー', page_path('privacy'), class: "link" %></li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="#">spice curry mania</a>
  </div>
  <!-- Copyright -->
</footer>